
<main>
  <section>
    <h1>My Diaries</h1>
    <ul>
      <% @diaries.each do |diary| %>
        <div>
          <li><%= link_to image_tag("diaries.png") + "<span>#{diary.title}</span>".html_safe, diary_path(diary)%>
          </li>
        </div>
      <% end %>
    </ul>
  </section>
</main>