<!DOCTYPE html>
<html>
<head>
  <title>Chronicles</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <script src="https://cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
</head>
<body>
<% if notice %>
	<p class="notice"><%= notice %></p>
<% end %> 

<% if alert%>
<p class="alert"><%= alert %></p>
<% end %>

<header class="head">
	<div class="logo">
    <h1>Chronicles</h1>
	</div>
	<ul>
		<li><button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Create New</button></li>
    <li><%= link_to "Signout", destroy_user_session_path, method: :delete %></li>
	</ul>

	<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h1 class="modal-title">New chronicle</h1>
      </div>
      <div class="modal-body">
        <p>

			<%= render 'category_maps/form' %>

        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
</header>

<%= yield %>

</body>
</html>
